@tailwind base;
@tailwind components;
@tailwind utilities;


h3 {
  font-family: 'Inter', sans-serif;
  font-weight : 700;
}

p {
  font-family: 'Lexend Deca', sans-serif;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
